@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #070B1A;
  color: white;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}